= currently_at t('main')

= render partial: 'web/shared/search_form', locals: { query: @search_bulletins, url: bulletins_path }
= render partial: 'web/bulletins/list', locals: { bulletins: @bulletins }
